@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: opacity;
  /*--black: #061738;*/
  --white: #202020;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
  --button:#2e5ca3;
}

body {
  background: var(--black);
  font-family: "Inter", sans-serif;
  
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: 'Questrial' !important;
  font-size: 2.5rem;
  color: #f3f0f3;
  /*text-shadow: rgb(49, 49, 49) 0.05em 0.05em 0.05em;*/
}

h4 {
  color: #f3f0f3;
  text-shadow: rgb(49, 49, 49) 0.05em 0.05em 0.05em;
}

p {
margin-top: 0px !important;
margin-bottom: 5px !important;
}

.tw-connected-wallet {
  background-image: url('/icons/wallet.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  background-size: cover !important; 
 }

 .css-6og8le{
 background-color:rgba(255,255,255,0) !important;  
 }

 .css-1hr3n8y {
  background-image: url('/icons/wallet.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  background-size: cover !important;
  top: 200px !important;
 }

 .css-1309xma {
  background-image: url('/icons/wallet.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  background-size: cover !important;
  top: 200px !important;
 }

 .css-tkbtnr {
  background-image: url('/icons/wallet.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  background-size: cover !important;
  top: 200px !important;
 }