.container {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 0 12px;
}

.genesis {
  width: 1250px;
  height: 100%;
  margin-bottom: 80px;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b;
}

.season {
  width: 1250px;
  height: 100%;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b;
}

.loading {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  position: absolute;
  padding: 5px 24px;
  background: 
        url("https://bafybeigwgwdtymtd7ot2sn2zb26hsthvhgwzawfb4otwon47svfoh4blee.ipfs-public.thirdwebcdn.com/Spinner-1s-200px%20(1).svg") top
        no-repeat;

}

.minting {
  /*background: rgba(217, 183, 245, 0.1);*/
  background: rgba(217, 183, 245, 0) !important;
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px !important;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b; 
}

.wallet {
  color:#f3f0f3 !important;
  border-radius: 30px !important;
  /*background: #3C1B32 !important;*/
  /*background:#0b102c !important; */
  background-image: url('https://bafybeieb3td5y4upyaokmdxnxwhfpzz5ghikbv26koxg57rzbi7kijdt5m.gateway.ipfscdn.io/wallet_B.png') !important;
  /*background-image: url('https://bafybeidjzfk4h6w6koap6hvblj7ny4l7plbp7eqw4v7m2bqf3ezebrnfbu.ipfs-public.thirdwebcdn.com/Wallet_Background2.png') !important;*/
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  background-size: cover !important;
}

.wallet:hover {
  transition: 0.9s !important;
  transform: scale(1.05);
  
}

.staking {
  background: rgba(217, 183, 245, 0);
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b; 
}

.h1 {
  font-family: 'Questrial' !important;
  /*font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;*/
  font-size: 3rem;
  font-family: bold;
  margin-bottom: 0px;
  color: #f3f0f3;
  text-shadow: rgb(49, 49, 49) 0.05em 0.05em 0.05em;
}

.explain {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 1.125rem;
  max-width: 1200px;
  color: #f3f0f3;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}



.nftBoxGrid {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nftBox {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #3C1B32;
  min-height: 250px;
  min-width: 200px;
  padding: 10px;
  margin-top: 10px;
  
  max-width: 200px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.nftMediaSeason3 {
  max-width: 180px !important;
  max-height: 180px !important;
  border-radius: 15px;
}

.nftBox:hover {
  background: linear-gradient(158deg, rgba(112,191,238,0.3) 27%, rgba(255,219,245,0.3) 71%);
  transition: 0.7s;
}

.nftBoxNode:hover {
  background-image: url('https://bafybeicmona4zqs4oj65j3lsralwl4amtwuw47vuirxbq52xajdyxqqzne.ipfs-public.thirdwebcdn.com/light.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  transition: 0.7s;
}

.nftBoxSeason3:hover {
  background-image: url('https://bafybeicmona4zqs4oj65j3lsralwl4amtwuw47vuirxbq52xajdyxqqzne.ipfs-public.thirdwebcdn.com/light.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  transition: 0.7s;
}


.nftBox h3 {
  height: 20px;
  min-width: 180px;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  font-family: cursive;
  text-shadow: 0em 0em 0.2em #e7e4e6;
  
}

.nftBoxNode {
  border-radius: 16px;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  border: 1px solid #b6b3b5;
  min-height: 300x;
  padding: 10px;
  margin-top: 10px;
  min-width: 200px;
  max-width: 200px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  display: flex;
  margin: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  background-image: url('https://bafybeicmona4zqs4oj65j3lsralwl4amtwuw47vuirxbq52xajdyxqqzne.ipfs-public.thirdwebcdn.com/dark.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.nftBoxNode h3 {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #f3f0f0;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FFFFAC 0%, #FDB931 8%, #FFFFAC 10%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nftBoxNode video {
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  font-family: cursive;
  text-shadow: 0.1em 0.1em 0.2em #ffdbf5;
  
}

.nftBoxSeason3 {
  border-radius: 16px;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  border: 1px solid #b6b3b5;
  min-height: 300x;
  padding: 10px;
  margin-top: 10px;
  min-width: 200px;
  max-width: 200px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  display: flex;
  margin: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  background-image: url('https://bafybeicmona4zqs4oj65j3lsralwl4amtwuw47vuirxbq52xajdyxqqzne.ipfs-public.thirdwebcdn.com/dark.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.nftBoxSeason3 h3 {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #f3f0f0;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fafaf8 0%, #1f287e 8%, #f5f5f4 10%, #636a80 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #f1f1f0 8%, #f1f1ef 25%, #7c79af 62.5%, #f5f4f4 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nftBox .nftMedia {
  transition: transform 0.3s ease-in-out;
}

.selected {
  transform: scale(1.1);
  border: 1px solid #ffdbf5;
  box-shadow: 0 0 10px #ffdbf5, 0 0 20px #320347;
  animation: glowing-border 1.5s infinite;
}

.selectedNode {
  transform: scale(1.1);
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 10px #e4e1e3, 0 0 20px #f6f4f7;
  animation: glowing-border 1.5s infinite;
  background-image: url('https://bafybeicmona4zqs4oj65j3lsralwl4amtwuw47vuirxbq52xajdyxqqzne.ipfs-public.thirdwebcdn.com/light.png') ;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.selectedSeason3 {
  transform: scale(1.1);
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 10px #e4e1e3, 0 0 20px #f6f4f7;
  animation: glowing-border 1.5s infinite;
  background-image: url('https://bafybeicmona4zqs4oj65j3lsralwl4amtwuw47vuirxbq52xajdyxqqzne.ipfs-public.thirdwebcdn.com/light.png') ;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.selected .nftMedia {
  transform: scale(1.1);
}

/*  ################# INDEX  #################  */

.optionSelectBack {
  
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 30%;
  min-height: 60px;
  min-width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-bottom: 40px;
  border: 1px solid rgba(46, 44, 44, 0.1);
  box-shadow: 0 0 18px 0 #4693FF; 
}

.optionSelectBack:hover {
  /*background: linear-gradient(158deg, rgba(112,191,238,0.3) 27%, rgba(255,219,245,0.3) 71%);*/
  /*background: #52FEFE ;*/
  background: #4693FF ;
  transition: 0.7s;
  transform: scale(1.05);
  font-family: 'Questrial' !important;
  font-weight: 300;
}

.placeholder {
  margin-top: 0px;
}

.optionSelectBoxGenesis {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 1200px;
  min-height: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  /*margin-bottom: 50px; */
  border: 1px solid rgba(46, 44, 44, 0.4);
  /*box-shadow: 0 0 18px 0 #82919b; */
  flex-wrap: wrap;
  /*background-image: url('https://bafybeicvlwcxijveeo474dy5r7bhraopzwegk4qkm62gpxr6pgy547iqbe.ipfs.thirdwebstorage.com/genesis1.png');*/
  background-image: url('https://bafybeid2ternw4lgtsx5qgraazllpex6wtaueeqbaqow3vmrx6ji3bugy4.ipfs.twipfs.com/4.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.optionSelectBoxSeason3 {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 1200px;
  min-height: 350px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  /*padding-left: 12px;
  padding-right: 12px; */
  cursor: pointer;
  margin-bottom: 15px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  /*box-shadow: 0 0 18px 0 #82919b;*/
  flex-wrap: wrap;
  background-image: url('https://bafybeid6gbpq65nl3aisojtmywut7bmhwnnmpqew4kmk5ld7xmosnltphe.gateway.ipfscdn.io/Season3.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.optionSelectBoxSeason2 {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 1200px;
  min-height: 350px;
  height: 100%;
  width: 100%;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  margin-bottom: 15px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  /*box-shadow: 0 0 18px 0 #82919b; */
  flex-wrap: wrap;
  background-image: url('https://bafybeihuibvt4c7lsew3t4j36bfknhlnnnwbcnnktc5xtdokl5f5kzewla.ipfs.twipfs.com/3.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.optionSelectBoxSeason1 {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 1200px;
  min-height: 350px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  border: 1px solid rgba(46, 44, 44, 0.4);
  /*box-shadow: 0 0 18px 0 #82919b; */
  flex-wrap: wrap;
  /*background-image: url('https://bafybeidmzrq6vijrylcz3r72sx4whhdj6awhpgpkco2tmhfdo4jv2cpxdi.ipfs.thirdwebstorage.com/season1.png');*/
  background-image: url('https://bafybeihuibvt4c7lsew3t4j36bfknhlnnnwbcnnktc5xtdokl5f5kzewla.ipfs.twipfs.com/4.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/*  #################hover  */

.optionSelectBox:hover {
  background: linear-gradient(158deg, rgba(112,191,238,0.3) 27%, rgba(255,219,245,0.3) 71%);
  transition: 0.7s;
  transform: scale(1.02);
}

.optionSelectBoxGenesis:hover {
  transition: 0.7s;
  transform: scale(1.01);
}

.optionSelectBoxSeason3:hover {
  transition: 0.7s;
  transform: scale(1.01);
}

.optionSelectBoxSeason2:hover {
  transition: 0.7s;
  transform: scale(1.01);
}

.optionSelectBoxSeason1:hover {
  transition: 0.7s;
  transform: scale(1.01);
}


/* Keyframes for select border aniamtion
@keyframes glowing-border {
  0% {
    box-shadow: 0 0 5px #ffdbf5;
  }
  50% {
    box-shadow: 0 0 10px #ffdbf5, 0 0 20px #8008b7;
  }
  100% {
    box-shadow: 0 0 5px #ffdbf5; 
  }
}*/


.selectBoxTitleBack {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Questrial' !important;
  font-weight: 300;
  
}

.selectBoxTitleBack:hover {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000 !important;
  font-family: 'Questrial' !important;
  font-weight: 300;
  
}



/*.selectBoxTitleGenesis {
  font-size: 5rem;
  margin-top: 1px;
  margin-bottom: 8px;
  margin-left: 100px;
  line-height: 100%;
  color:#ffffff;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em #ffffff;
}*/

.selectBoxTitleGenesis {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FFFFAC 0%, #FDB931 8%, #FFFFAC 10%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 5rem;
    margin-top: 1px;
    margin-bottom: 8px;
    margin-left: 100px;
    line-height: 100%;
    color:#fff;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    text-align: left;
    text-shadow: none;
}

.selectBoxTitleRight {
  font-size: 5rem;
  margin-top: 1px;
  margin-bottom: 8px;
  margin-right: 100px;
  line-height: 100%;
  color:#ffffff;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  text-align: right;
  text-shadow: 0em 0em 0.5em #ffffff;
}

.selectBoxTitleLeft {
  font-size: 5rem;
  margin-top: 1px;
  margin-bottom: 8px;
  margin-left: 100px;
  line-height: 100%;
  color:#ffffff;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  text-shadow: 0em 0em 0.5em #ffffff;
}

.selectBoxDescriptionGenesis {
  font-size: 1.2rem;
  color: #817f7f;;
  margin-top: 50px;
  margin-bottom: 50px !important;
  margin-left: 105px;
  margin-right: 0px;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 100%;
}

.selectBoxDescriptionright {
  font-size: 2.5rem;
  color: #ffffff;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 100px;
  font-family: bold;
  text-align: right;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.selectBoxDescriptionleft {
  font-size: 2.5rem;
  color: #ffffff;;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 20px;
  font-family: bold;
  text-align: left;
  line-height: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  
  .optionSelectBoxGenesis {
    justify-content: center;
    background-position: 20% 0;
    min-height: 300px;
  }

  .optionSelectBoxSeason3 {
    justify-content: center;
    background-position: 35% 0;
    min-height: 300px;
  }

  .optionSelectBoxSeason2 {
    justify-content: center;
    background-position: 55% 0;
    min-height: 300px;
  }

  .optionSelectBoxSeason1 {
    justify-content: center;
    background-position: 40% 0;
    min-height: 300px;
  }

  .selectBoxTitleGenesis {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    justify-content: center;
  }

  .selectBoxTitleLeft {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    justify-content: center;
  }

  .selectBoxTitleRight {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    justify-content: center;
  }

  .selectBoxDescriptionGenesis {
    font-size: 1rem;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .selectBoxDescriptionright {
    font-size: 1rem;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .selectBoxDescriptionleft {
    font-size: 1rem;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 5px;
}

.tokenItem {
  width: 22%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(46, 44, 44, 0.4);
  gap: 16px;
  margin: 0px 5px;
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgba(112, 111, 111, 0.7);
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
  color: rgba(112, 111, 111, 1);
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 85%;
    margin-top: 12px;
    
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.nftMedia {
  max-width: 180px;
  max-height: 180px;
  border-radius: 15px;
}

.nftVideo {
  max-width: 160px;
  max-height: 160px;
  border-radius: 15px;
  margin-right: 25px !important;
  margin-left: 25px !important;
  align-items: center;
  justify-content: center;
}


.quantityControlButton {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid rgb(68, 67, 67);
  color: #595858;
}

.quantityContainer {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}